node_modules/
compiled/
/public/hot
/public/storage
/public/dist
/database/users
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
.phpunit.result.cache

config/webpack_manifest.php

